
#drag 
{
border:2px solid;
padding:15px;
width:140px; 
height:60px; 
background-color: rgb(213, 230, 230);
}
#sortable 
{ 
list-style-type:none;
margin:0;
padding:0;
width:190px; 
}
#sortable li 
{
margin-bottom:3px;
padding:10px; 
font-size:20px;
height:22px; 
}
body{
	background-color: #cff5fa;
}