body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #FFFFFF;
}

.header-logo {
	float: left;
	background-image: url("img/logo.png");
	background-repeat: no-repeat;
	width: 73px;
	height: 73px;
	margin-left: 200px;
	margin-top: 110px;
}

.header input[type="button"] {
	position: absolute;
	display: flex;
	width: 120px;
	height: 50px;
	border-radius: 5px;
	float: left;
	background-image: url("img/menu.png");
	background-repeat: no-repeat;
	border: none;
	margin-left: 150px;
	top: 110px;
	left: 1230px;
}

.header {
	background-image: url("img/fon1.png");
	padding: 0;
	margin: 0;
	height: 910px;
	background-color: #808080;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


.header a {
	margin-left: 25%;
	margin-top: 25%;
	font-size: 1.2em;
	color: white;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.nav {
	position: absolute;
	display: flex;
	margin-left: 150px;
	top: 80px;
	left: 790px;
	
}

.main1{
	position: absolute;
	top: 350px;
	left: 200px;
}

.main1 h1 {
	color: white;
	font-size: 4em;
	line-height: 1em;
	font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.main2 {
	position: absolute;
	top: 590px;
	left: 200px;
}

.main2 p {
	color: white;
	font-size: 1.15em;
	line-height: 1em;
	font-family: 'Roboto', sans-serif;
    
    font-weight: bold;
}

.main3 {
	position: absolute;
	display: flex;
	top: 710px;
	left: 200px;
}

.main3 input {
	vertical-align: middle;
	color: #000000;
	font-size: 1.2em;
	padding-left: 25px;
	margin-right: 20px;
	background-color: white;
	width: 310px;
	height: 60px;
	border-radius: 6px;
	border: none;
}

.main3 input::placeholder {
	color: #696969;
}

.button {
	border: 0;
	background: transparent;
	outline: none;
}

.strldown {
	position: absolute; 
	top: 20px; 
	left: 280px;
	display: inline-block;
	border: none;
	background: url(img/strldown.png) no-repeat 50% 50%;
}

.strlright {
	position: absolute; 
	top: 20px; 
	left: 640px;
	display: inline-block;
	border: none;
	background: url(img/strlright.png) no-repeat 50% 50%;
}

.arrow-2 {
	position: relative;
	height: 80px;
	background-image: url("img/arrow.png");
	background-repeat: no-repeat;
	background-position: center;
	bottom: 45px
}

.latest-design {
	background-image: url("img/fon2.png");
	background-repeat: no-repeat;
	background-position: center 0px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.latest-design h1 {
	padding: 0;
	margin: 0;
	font-size: 40px;
	font-weight: bold;
	padding-top: 85px;
}
.latest-design p {
	padding: 0;
	margin: 0;
	font-size: 14px;
	padding-top: 28px;
	line-height: 25px;
	padding-bottom: 365px;
}


.features {
	padding: 0;
	margin: 0 auto;
	margin-bottom: 0;
	width: 1200px;
}
.features h1 {
	text-align: center;
	padding-top: 54px;
	font-size: 30px;
	line-height: 29px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
.features p {
	text-align: center;
	margin-top: 33px;
	font-size: 14px;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
}
.feature {
	float: left;
	width: 300px;
	padding-top: 240px;
	background-repeat: no-repeat;
	background-position:  80px 60px;
}
.features-overall {
	padding-bottom: 145px;
}
.feature h2 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 17px;
	line-height: 29px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
.feature p {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
}
.feature.one {
	background-image: url("img/icon1.png");
}
.feature.two {
	background-image: url("img/icon2.png");
}
.feature.three {
	background-image: url("img/icon3.png");
}
.feature.four {
	background-image: url("img/icon4.png");
}

.guidelines {
	padding: 0;
	margin: 0;
	background-color: #f6f9fa;
}
.arrow {
	position: relative;
	height: 88px;
	background-image: url("img/fon6.png");
	background-repeat: no-repeat;
	background-position: center;
	top: 50px;
}
.guidelines h1 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 30px;
	line-height: 29px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 84px;
	display: inline-block;

}
.guidelines p {
	text-align: center;
	margin-top: 33px;
	font-size: 14px;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
}
ul.partitions-menu {
	padding: 0;
	margin: 0 auto;
	width: 620px;
	height: 55px;
	text-align: center;
	list-style: none;
}
.partitions-menu li a:hover  {
	display: block;
	background-color: #3cc0bd;
	color: #f6f9fa;
	height: 55px;
}
ul.divisions {
	padding: 0;
	margin: 0 auto;
	margin-top: 55px;
	padding-bottom: 96px;
	width: 1200px;
	height: 274px;
	text-align: center;
	list-style: none;
}
.division {
	padding: 0;
	margin-top: 55px;
	margin-right: 22px;
	float: left;
	width: 380px;
	height: 274px;
	font-size: 14px;
	line-height: 25px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	line-height: 34;
	background: url("img/fon4.png") no-repeat center 0px,
                url("img/icon6.png") no-repeat 325px 225px;
	background-size: 380px 200px,
	                 30px 30px;
}
.divisions li {
	background-color: #ffffff;
	border-radius: 10px;
}
.division:last-child {
	margin-right: 0px;
}


.push {
	padding: 0;
	margin: 0;
	height: 1574px;
	background: url("img/fon5.png") no-repeat 280px 360px,
				url("img/fon8.png") no-repeat center 0px;
}
.middle-push {
	width: 1200px;
	padding-top: 333px;
}
.push-logo {
	float: left;
	display: inline-block;
	background-image: url("img/icon5.png");
	background-repeat: no-repeat;
	width: 180px;
	height: 180px;
	padding: 0;
	margin: 0;
	margin-right: 45px;
	margin-left: 350px;
}
.push-text {
	float: left;
	display: inline-block;
	width: 518px;
	list-style: none;
	

}
.push h1 {
	padding: 0;
	margin: 0;
	width: 530px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 60px;
	line-height: 55px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.push p {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding-top: 40px;
	color: #FFFFFF;
	line-height: 24px;
	padding-bottom: 0px;
}

footer {
	padding: 0;
	margin: 0;
	text-align: center;
}
.footer-box {
	padding: 0;
	padding-left: 350px;
	margin: 0;
	width: 1180px;
}
.column-1,
.column-2,
.column-3 {
	text-align: center;
	float: left;
}
.column-1 {
	padding-top: 90px;
	width: 60px;
	margin-right: 80px;
}
.column-2 {
	padding-top: 90px;
	width: 70px;
}
.column-1 a,
.column-2 a {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 35px;
	color: #c3ccd3;
}
.column-3 {
	padding-top: 10px;
	padding-left: 648px;
	width: 308px;
}
.social {
	width: 202px;
	padding: 0;
	margin-left: 103px;
}
.tweet,
.shape {
	width: 97px;
	height: 35px;
	float: left;
}
.tweet {
	background: url("img/soc1.png") no-repeat center 0px;
	margin-right: 8px;
}
.shape {
	background: url("img/soc2.png") no-repeat center 0px;
}
.tweet a,
.shape a {
	width: 97px;
	height: 35px;
	display: inline-block;
}
.column-3 p {
	margin: 0;
	padding-top: 47px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #c3ccd3;
}

@media (max-width: 760px) {
	.header {
		height: 500px;
	}
}

@media (min-width: 2500px) {

}
