* {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 0%;
    padding: 0%;
} 

#test{
    margin-top: 30px;
    width: 400px;
    height: 100px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(192, 52, 82) 0%, rgb(226, 169, 45) 35%, rgb(255, 242, 66) 100%);
}
.button{
    background-color: crimson;
    outline: none;
    margin-top: 30px;
    border: 2px solid rgb(37, 19, 49);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 15px;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#onMe{
    margin-top: 30px;
}
#onemore{
    margin-top: 30px; 
}
#div1{
    margin-top: 50px;
    width: 150px;
    height: 30px;
    background-color:rgb(46, 166, 214);
    border-radius: 20px;
}
#div2{
    width: 150px;
    height: 30px;
    background-color: rgb(63, 83, 194);
    border-radius: 20px;
    margin-top: 5px;
}
#div3{
    width: 150px;
    height: 30px;
    background-color: rgb(140, 83, 216);
    border-radius: 20px;
    margin-top: 5px;
}